.main {
    grid-area: main;
    .width-carrusel {
        width: 100%;
    }
    .main__home {
        @extend .flex-column;
        align-items: center;
        .main__home__subtit {
            padding: 0.5em;
            margin-top: 1em;
            font-family: $font-primary;
            font-size: 1.5em solid;
            color: $color-secondary;
        }
        .main__home__parrafo { 
            padding: 2.2em;
            margin-bottom: 1em;
            font-family: $font-primary;
            text-align: justify;
            font-size: 0.8em;
        }
        .main__home__video {
            margin-bottom: 4em;
            width: 70vw;
            border: 2em;
        }
    }
    @include medium-screen {
        .main__home {                                                       
            .main__home__subtit {
                font-size: 1.7em;
                margin-top: 1.5em;
            }
            .main__home__parrafo { 
                font-size: 0.9em;
                padding: 1.5em;
            }
        }
    }
    @include large-screen {
        .main__home {
            display: grid;
            grid-template-areas: 
            "video subtitulo"
            "video parrafo";
            .main__home__subtit {
                grid-area: subtitulo;
                margin-top: 1.5em;
                padding: 1em;
                font-size: 1.8em;
            }
            .main__home__parrafo { 
                grid-area: parrafo;
                margin-bottom: 10em;
                font-size: 1em;
                margin-right: 2em;
            }
            .main__home__video {
                grid-area: video;
                margin-left: 2em;
                width: 600px;
                height: 355px;
            }
        }
    }
}


